{% extends 'base.html' %}
{% block content %}
<h1>{{ movie.title }}</h1>
<p>{{ movie.description }}</p>
<p>Release Year: {{ movie.release_year }}</p>
<p>Duration: {{ movie.duration_minutes }} minutes</p>
<p>Genre: {{ movie.genre.name }}</p>
<p>Directors: 
    {% for director in movie.directors.all %}
        {{ director.first_name }} {{ director.last_name }}
    {% endfor %}
</p>
<a href="{% url 'movie_edit' movie.pk %}">Edit</a>
<a href="{% url 'movie_delete' movie.pk %}">Delete</a>
{% endblock %}